.button{
    &.primary-button{
    @include buttons($primary-color, $fourth-color, $button-margin, $button-padding);
    &:hover{
        color: $primary-color;
        background-color: $fourth-color;
        } 
    }
    
    &.secondary-button{
    @include buttons($secondary-color, $tertiary-color, $button-margin, $button-padding);
    &:hover{
        color: $secondary-color;
        background-color: $tertiary-color;
        }
    }

    &.tertiary-button{
        @include buttons($fourth-color, $primary-color, $button-margin, $button-padding);
        border-radius: 0;
        &:hover{
            color: $secondary-color;
            background-color: $tertiary-color;
            }
    }

    &.fourth-button{
        @include buttons($fourth-color, $primary-color, $button-margin, $button-padding);
        &:hover{
            color: $secondary-color;
            background-color: $tertiary-color;
            }
    }

    &.fifth-button{
        @include buttons($fifth-color, $tertiary-color, $button-margin, $button-padding);
        &:hover{
            color: $fifth-color;
            background-color: $tertiary-color;
            }
    }

    &:focus{
        box-shadow: none;
    }
}