@font-face{
    font-family: "Magnificent Personal Use", cursive;
    src: url("../../../fonts/Magnificent\ Personal\ Use.ttf");
    font-family: "Philosopher-Regular";
    src: url("../../../fonts/Philosopher-Regular.ttf");
}