/*Colors*/
$bg-main-color: black;
$font-color:  #D9B18F;
$font-tittles-color: #BF1B1B;
$bg-nav: #400101;
$link-color: #A62424;
$footer-link-color: #D9B1A3;
$footer-link-hoover-color: #260101;
$footer-border-top: #424242bb;

/*Buttons*/
$primary-color: #400101;
$secondary-color: #260101;
$tertiary-color: #BF1B1B;
$fourth-color: #D9B1A3;
$button-margin: 4px;
$button-padding: 8px 15px;

/*Fonts*/
$font-family-main: 'Philosopher-Regular';
$font-family-goth: 'Magnificent Personal Use';
$font-size: 1rem;

/*Sizes*/
$bg-images-min-height: 477px;
$logo-size: 40px;
$font-weight: 400;
$padding-bottom-tittle: 1.5rem;

/*Condiciones*/
$bg-tattoo-gallery: 'background';
$colors: $primary-color, $secondary-color, $tertiary-color, $fourth-color;
