.text-bio{
    padding: 1.5rem 0;
    font-size: 0.8rem;
    text-align: left;
    column-count: 2;
}

.text-bio-about{
    font-size: 0.9rem;
    text-align: center;
    column-count: 1;
    color: nth($colors, 4);
}

.photos-bio img{
    filter: grayscale(100%);
    &:hover{
        filter: none;
        transition: all 0.2s;
    }
}

@media (max-width:768px){
    .tittle-index{  
        font-family: $font-family-goth;
        font-weight: 400;  
        font-size: 2.5rem;  
        color: $link-color; 
    }
    .text-bio{
        margin: 0 1rem;
        padding: 1rem 0;
        font-size: 0.9rem;
        column-count: 1;
        text-align: center;
    }

    .text-bio-about{
        margin: 1rem 0;
        font-size: 0.9rem;
        text-align: center;
        column-count: 1;
        color: nth($colors, 4);
    }
}

@media (max-width: 576px){
    .tittle-index{  
        font-family: $font-family-goth;
        font-weight: 400;  
        font-size: 1.8rem;  
        color: $link-color;       
    } 
}