footer{
    height: 55px;
    background-color: $footer-bg;
    border-top: 0.5px solid $footer-border-top;    
    div ul li a{
        font-size: 0.75rem;
        color: $footer-link-color;
        text-decoration: none;
        &:hover{
            color: $footer-link-hoover-color;
        }  
    }
}
ol, ul, dl{
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
}

