html, body{
    margin: 0;
    padding: 0;
    font-family: $font-family-main;
    font-size: $font-size;
    background-color: $bg-main-color;
    color: $font-color;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.row{ margin: 0; }

a{
    color: $font-tittles-color;
    &:hover{
        color: $footer-link-color;
        text-decoration: none; }
}

/*Tattoo-index*/
.carousel-item{
    background: no-repeat;
    background-size: cover;
}

.arrow-top {
    text-align: right;
    padding: 2%;
    display: scroll;
    position: sticky;
    bottom: 40px;
    right: 0px;
    z-index: 1500;
    a {color: $primary-color;}
}