.makeup{
    background-color: white;
    .tittle-icon{
        color: $font-tittles-color;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            font-size: 1rem;
            color: $font-color;
            padding: 0.6rem;
            align-self: center;
        }  
    }

    .card{
        border: 0.5px solid $font-color;
        box-shadow: 3px 3px 8px $fourth-color;
        .card-title{
            color: $font-tittles-color;
            font-size: 0.9rem;
            text-align: center;
        }
    } 

    iframe{
        width: 660px;
        height: 415px;
        @media (max-width: 768px), (max-width: 576px){
            width: 100%;
            margin-bottom: 1rem;
        } 
        
    }
    
    .vegan-heart-logo{
        width: 315px;
        height: auto;
    }
} 

.modal-body{
    overflow: hidden;
    .makeup-modal-title{
        font-size: 1rem;
        color: $footer-bg;
        text-align: center;
    }
    .makeup-modal-price{
        font-size: 1rem;
        color: $font-color-darkness;
        margin: 0.5rem 0;
    }
    .makeup-modal-wish{
        font-size: 0.7rem;
        color: $fourth-color;
    }
    i.icon-heart{
        font-size: 0.6rem;
        color: $primary-color;
    }
}

@media (max-width:768px){
    .modal{
        width: 100%;
    }
}

@media (max-width: 576px){
    .modal{
        width: 100%;
    }
}
