nav{
     z-index: 100;
     background-color: $bg-nav;
     height: 70px;
     a{
          img{
               width: $logo-size*3;
               height: $logo-size;
          }
     }
     div ul li a{
          color:$font-color !important;
          &:hover{
               color: $link-color !important;
          }
     }
}

.dropdown-menu{
     min-width: 8rem;
     background-color: transparent;
     text-align: center;
     .dropdown-item{
         color: $font-color;
         &:hover{
             color: $link-color;
             background-color: transparent;
         }
     }
}

.navbar-toggler{
     padding: 0.25rem 0.5rem;
     font-size: 1.25rem;
     line-height: 1;
     background-color: transparent;
     border-radius: 0.5rem;
}
button:focus{
     outline: 0.5px auto $fourth-color;
}

.collapse.show{
     background-color: $bg-nav-collapse;
     display: block;
}
