.shoes-item{    
    position: relative;
    img{
        width: 300px;
        height: 300px;
        border-radius: 0.6rem;  
    }
    &:hover .overlay-inside{
        opacity: 0.8;
    }
    &:hover .overlayleft-inside{
        width: 300px;
    }

}
.overlay-inside{
    width: 300px;
    height: 300px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    background-color: #262626;
    border-radius: 0.6rem;
}
.overlayleft-inside{
    height: 300px;
    width: 0;
    background-color: #262626;
}

.shoes{
    background-color: white;
    .tittle-icon{
        color: $tertiary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            font-size: 1rem;
            color: $fifth-color;
            padding: 0.6rem;
            align-self: center;
        }  
    }

    .card{
        border: 0.5px solid $fifth-color;
        box-shadow: 3px 3px 8px $tertiary-color;
        .card-title{
            color: $tertiary-color;
            font-size: 0.9rem;
            text-align: center;
        }
    } 

}
