.shoes{    
    background-color: whitesmoke;
    .tittle-shoes{
        font-family: $font-family-goth;
        font-weight: 400;  
        font-size: $font-size*4; 
        color: $fifth-color; 
        padding: 2.5rem 0; 
    }

    .tittle-icon{
        color: $fifth-color;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            font-size: 1rem;
            color: $fifth-color;
            padding: 0.6rem;
            align-self: center;
        }  
    }

    .aside-shoes{
        margin-top: 2rem;
        @media (max-width: 992px){
            margin-top: 1;
        }
        @media (max-width: 768px){
            margin-top: 0;
        }
    }

    .shoes-image-center{
        width: 545px;
        height: auto;
        border-radius: 0.25rem;
        @media (max-width: 992px){
            width: 445px;
            height: auto;
        }
        @media (max-width: 768px){
            width: 445px;
            height: auto;
        }
    }

    .shoes-photo-aside{
        margin-bottom: 1.5rem;
        width: 220px;
        height: auto;
        border-radius: 0.25rem;
        filter: grayscale(100%);
        &:hover{
            filter: none;
            transition: all 0.2s;
        }
        @media (max-width: 992px){
            margin-bottom: 1rem;
            width: 200px;
            height: auto;
        }
        @media (max-width: 576px){
            width: 300px;
            height: auto;
        }
    }

    .card-shoes{
        @media (max-width: 576px), (max-width: 768px), (max-width: 992px){
            width: 100%;
        }
        background-color: white;
        width: 250px;
        border: 0.5px solid $fifth-color;
        border-radius: 0.25rem;
        box-shadow: 3px 3px 8px $fifth-color;
        .card-body-shoes{
            padding: 0.8rem;
            .card-title-shoes{
                color: $fifth-color;
                font-size: 0.9rem;
                text-align: center;
            }
            .card-text-shoes{
                color: $tertiary-color;                
            }
        }
    } 
}
