/*Buttons*/
@mixin buttons($primary-color, $fourth-color, $button-margin, $button-padding){
    background: $primary-color;
    color: $fourth-color;
    margin: $button-margin;
    padding: $button-padding;
}
@mixin tittle ($font-family-goth, $font-weight, $font-tittles-color, $padding-bottom-tittle, $font-size){
    font-family: $font-family-goth;
    font-weight: $font-weight;
    color: $font-tittles-color;
    padding-bottom: $padding-bottom-tittle;
    font-size: $font-size;  
}